/* ----- ----- ----- ----- HEADER ----- ----- ----- ----- */

header {
    background: lightblue;
}


/* ----- ----- ----- ----- MAIN ----- ----- ----- ----- */

main {
    background: lightblue;
}

/* ----- ----- ----- ----- FOOTER ----- ----- ----- ----- */

footer {
    background: lightblue;
}

.container {
    background: lightgray;
}